<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classhelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/books_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.example.classhelper.activity.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.example.classhelper.activity.StudentListActivity"
            android:label="@string/app_name">
            <!-- p.326. -->
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.classhelper.activity.MainMenuActivity"/>
        </activity>
        
        <activity 
            android:name="com.example.classhelper.activity.ModuleListActivity"
            android:label="@string/app_name">
            <!-- p.326. -->
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.classhelper.activity.MainMenuActivity"/>
        </activity>
        
        <activity 
            android:name="com.example.classhelper.activity.CourseListActivity"
            android:label="@string/app_name">
            <!-- p.326. -->
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.classhelper.activity.MainMenuActivity"/>
        </activity>
        
        <activity 
            android:name="com.example.classhelper.activity.TestListActivity"
            android:label="@string/app_name">
            <!-- p.326. -->
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.classhelper.activity.MainMenuActivity"/>
        </activity>
        
        <activity 
            android:name="com.example.classhelper.activity.GradeListActivity"
            android:label="@string/app_name">
            <!-- p.326. -->
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.classhelper.activity.MainMenuActivity"/>
        </activity>
        
        <activity 
            android:name="com.example.classhelper.activity.StudentPagerActivity"
            android:label="@string/app_name">
            <!-- p.326. -->
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.classhelper.activity.StudentListActivity"/>
        </activity>
        
        <activity 
            android:name="com.example.classhelper.activity.ModulePagerActivity"
            android:label="@string/app_name">
            <!-- p.326. -->
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.classhelper.activity.ModuleListActivity"/>
        </activity>
        
        <activity 
            android:name="com.example.classhelper.activity.CoursePagerActivity"
            android:label="@string/app_name">
            <!-- p.326. -->
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.classhelper.activity.CourseListActivity"/>
        </activity>
        
        <activity 
            android:name="com.example.classhelper.activity.TestPagerActivity"
            android:label="@string/app_name">
            <!-- p.326. -->
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.classhelper.activity.TestListActivity"/>
        </activity>
        
        <activity 
            android:name="com.example.classhelper.activity.GradePagerActivity"
            android:label="@string/app_name">
            <!-- p.326. -->
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.classhelper.activity.GradeListActivity"/>
        </activity>
        
    </application>

</manifest>
